.loaderContainer{
    background-color: #ece7e7;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}